main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 2rem;
  background-color: #f5f5f5;
  background-image: url('./assets/ciel.avif');
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;

} 